{% extends "base.html" %}

{% block title %}
About
{% endblock %}

{% block content %}

<div class="aboutme">

    <div class="left">
        <H1>ABOUT ME</H1>
        <p>My name is trouble my first name’s a mess</p>
    </div>
    <div class="right">
        <img src="../static/image/face.jpg" class="face">
    </div>


</div>

{% endblock content %}




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

