{% extends "base.html" %}
{% block title %}
contact
{% endblock %}

{% block content %}


<div class="alblack">
<div class="mitro">
    <p class="whitefont">You can visit Dennis Adelmann in his office at Hafenstrasse 25-27 in 68159 Mannheim / Ger. If you like to write him an e-mail,
        you can use this mail-address salve [at] dennisadelmann .de. If you are a fan or client and want to get updates of the work of
        Dennis Adelmann you can follow him on Twitter — Instagram — Behance — Facebook.</p>

<a href="#" data-toggle="modal" data-target="#login-modal">관리자</a>
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>Login to Your Account</h1><br>
				  <form >
                      {% csrf_token %}
					<input type="text" name="user" placeholder="Username">
					<input type="password" name="pass" placeholder="Password">
					<input type="submit" name="login" class="login loginmodal-submit" value="Login">
				  </form>

				  <div class="login-help">
				  <a href="#">Forgot Password</a>
				  </div>
				</div>
			</div>
		  </div>
</div>
</div>

{% endblock %}




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

