{% extends "index.html" %}
{% block title %}
main
{% endblock %}

{% block content %}

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Project</h1>
      </div>

    </section>

    <div class="album text-muted">
      <div class="container">

        <div class="row">
          <div class="card"><a href="/project1">
            <img src="../static/image/1.jpeg" class="images center-block">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </a>
          </div>
          <div class="card"><a href="/project2">
            <img src="../static/image/2.jpeg" class="images center-block">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </a>
          </div>
          <div class="card"><a href="/project3">
            <img src="../static/image/3.jpeg" class="images center-block">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </a>
          </div>

          <div class="card"><a href="/project4">
            <img src="../static/image/4.jpeg" class="images center-block">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

          </a>
          </div>
          <div class="card"><a href="/project5">
            <img src="../static/image/5.jpeg" class="images center-block">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </a>
          </div>
          <div class="card"><a href="/project6">
            <img src="../static/image/6.jpeg" class="images center-block">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </a>
          </div>

          <div class="card"><a href="/project7">
            <img src="../static/image/7.jpeg" class="images center-block">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </a>
          </div>
          <div class="card"><a href="/project8">
            <img src="../static/image/8.jpeg" class="images center-block">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </a>
          </div>
          <div class="card"><a href="/project9">
            <img src="../static/image/9.jpeg" class="images center-block">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </a>
          </div>
        </div>

      </div>
    </div>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>

      </div>
    </footer>


{%endblock content%}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

